.mainTcg {
    section {
        margin: 10px;
        padding: 10px;
        text-align: justify;
        justify-content: center;
        p {
            margin: 10px;
            padding: 10px;
        }
    }
}